.header__lang-link {
  color: #fff;  
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-align: right;
  text-decoration: none;

}

.header__lang-link:hover {
  opacity: 0.8;

}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 10px;
    
  }
}