.places {
  margin: 0 auto;
  padding-top: 92px;  
  max-width: 984px;

}

/* разрешение 1024 */
@media screen and (max-width: 1280/*1279px*/) {
  .places {
    max-width: 928px;

  }
}
/* разрешение 768 */
@media screen and (max-width: 1024px/*1023*/) {
  .places {
    padding-top: 88px;    
    max-width: 720px;

  }
}
/* разрешение 320 */
@media screen and (max-width: 768px/*767*/) {
  .places {
    padding-top: 64px;    
    max-width: 320px;

  }
}