.lead {
  margin: 0 auto;
  max-width: 984px;
  padding-top: 56px;
  line-height: 18px;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;
    padding-top: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 320px;
  }
}