.header__logo {
  height: 52px;  
  width: 176px;
  background-image: url('../../../images/header-logo.svg');
  background-size: cover;

}

@media screen and (max-width: 767px) {
  .header__logo {
    height: 42px;    
    width: 142px;

  }
}