.lead__title {
  color: #fff;  
  margin: 0 auto;
  max-width: 720px;   /* исправлено замечание*/
  width: 100%;      /* исправлено замечание*/
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;

}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;

  }
}