.footer__copyright {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

}

@media screen and (max-width: 768px) {
  .footer__copyright {
    line-height: 14px;
    
  }
}