.intro__list-item {
  color: #ffffff;   /* исправлено замечание 3 итерация/ цевет определен как #FFFFFF*/
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;   /* исправлено замечание 3 итерация*/
}
