.intro__text {
  color: #fff;  
  margin: 40px 0 0 0;    /* исправлено замечание*/
  max-width: 720px;      /* исправлено замечание*/
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 288px;   /* исправлено замечание*/
  }
}