.intro {
  margin: 0;
  max-width: 690px;
  width: 100%;
  padding-top: 92px;
  padding-left: 148px;
}

@media screen and (max-width: 1279px) {
  .intro {
    /*max-width: 690px;*/       /* исправлено замечание 3 итерация*/
    padding-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    /*margin: 0 auto;*/
    padding-top: 88px;
    padding-left: 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    padding-top: 64px;
    padding-left: 16px;
  }
}