.intro__list-item-data {
  color: #ffffff;       /* исправлено замечание 2 итерация*/
  font-size: 12px;     /* исправлено замечание 2 итерация*/
  line-height: 18px;   /* исправлено замечание 2 итерация*/
  font-weight: 700;    /* исправлено замечание 3 итерация*/
}