.lead__caption {
  color: #fff;  
  margin: 8px 0 0 0;   /* исправлено замечание*/
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}