.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 1fr min-content;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;

}

.place:last-child {
  margin-bottom: 0;

}

@media screen and (max-width: 1280px) {
  .place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;

  }
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 340px 352px;
    column-gap: 28px;
    margin-bottom: 73px;

  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 320px;
    grid-template-rows: min-content min-content 1fr min-content;
    row-gap: 32px;
    margin-bottom: 50px;
    
  }
}